<br />
<nav class="navbar container navbar-light bg-light">
  <div class="container">
    
    <button (click)="getQuestions('All')" class="btn btn-dark">
      All
    </button>
    
      
    
    <button (click)="getQuestions('Java')" class="btn btn-outline-primary">
        <img src="/assets/java.png" width="65" height=auto class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="" style="color:white ;">
    </a></button>



    
      <button (click)="getQuestions('Angular')" class="btn btn-outline-primary">
        <img src="/assets/angular.png" width="65" height=auto class="d-inline-block align-top" alt="">
        <a class="navbar-brand" href="" style="color:white ;">
    </a></button>
    
    
    <button (click)="getQuestions('Springboot')" class="btn btn-outline-primary">
      <img src="/assets/springboot.png" width="100" height=auto class="d-inline-block align-top" alt="">
      <a class="navbar-brand" href="" style="color:white ;">
  </a></button>


  <button (click)="getQuestions('cloud')" class="btn btn-outline-primary">
    <img src="/assets/cloud.png" width="100" height=auto class="d-inline-block align-top" alt="">
    <a class="navbar-brand" href="" style="color:white ;">
</a></button>
    
    



    <button (click)="getQuestions('Others')" class="btn btn-secondary">
      Others
    </button>
  </div>
</nav>
<div class="my-3">
  <table class="table me-2 container">
    <tr>
      <th>Question</th>
      <th>Posted By</th>
      <th>Topic</th>
      <th>Show Answers</th>
    </tr>

    <tr *ngFor="let question of questions">
      <td>{{ question.question }}</td>
      <td>{{ question.user.name }}</td>
      <td>{{ question.topic }}</td>

      <td>
        <button
          class="btn my-2 btn-info"
          id="{{ question.id }}"
          (click)="sendQuestionToGetAnswer(question.id)"
        >
          Show Answers
        </button>
      </td>
    </tr>
  </table>
</div>
